.MessageForm form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

form div {
  display: flex;
  margin: 5px 0 10px;
}

form label {
  width: 80px;
}

form input[type="submit"] {
  width: 80px;
  margin-left: 80px;
}
